body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.sidebar {
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px;
    background-color: #f8f9fa!important;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: tomato;
}
